@charset "UTF-8";

/*Variáveis*/
:root{
    --claro:rgb(153, 153, 250);
    --escuro:rgb(13, 13, 105);
    --fundo:rgba(233, 233, 251, 0.348);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}



header{
    background-image:linear-gradient(to top,var(--escuro),var(--claro));
    width: 100%;
    min-height:200px ;
    padding: 20px;
    padding-top: 50px;

    text-align: center;
    color: white;

    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.684);
}
header h1{
    font-size: 2.1em;
    /*font-family: ;*/
    font-variant: small-caps;
    padding-bottom: 15px;
    max-width: 450px;
    margin: auto;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.638);
}
header p{
    font-size: 1.2em;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.638);
    max-width: 500px;
    margin: auto;
}



nav{
    background-color: var(--escuro);
    padding-bottom:15px;
}
nav a{
    text-decoration: none;
    color: white;
    padding: 6px 12px;
    margin-left: 5px;
    transition: all .7s;
}
nav a:hover{
    background-color: rgba(163, 163, 243, 0.642);
    color: var(--escuro);
   border-radius: 8px;
}



article{
    max-width: 800px;
    margin: auto;

    background-color: var(--fundo);
    padding: 10px;
}
article h1{
    font-size: 2em;
    line-height: 1.5em;
    text-align: center;
}
article h2{
    margin: 20px 0;
    text-indent: 1em;
}
article p{
    line-height: 2em;
    text-align: justify;
    text-indent: 20px;
}



img{
    display: block;
    margin: auto;
    max-width: 100%;
    border-radius: 7px;
}



#curiosidade{
    background-color: rgba(171, 171, 225, 0.677);
    padding: 20px;
    border-radius: 20px;
    margin: 30px 10px;
}
#content h2{
    text-align: center;
    margin-top: -10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.364);
}
#content p{
    text-align: justify;
}
#img{
    max-width: 750px;
    margin-top: 20px;
}
#img img{
    width: 100%;
}


/*timeline*/
#timeline{
    max-width: 800px;
    background-color: var(--fundo);
    padding: 50px 15px;
}
#timeline h2{
    margin: auto;
    font-weight: bold;
    margin-bottom: 30px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
.itens{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.itens::before{
    content: '';
    position: absolute;
    width:2px;
    height: 99%;
    background-color: rgb(175, 175, 175);
    left: calc(50% - 1px);
    top: 70px;
}
.item{
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}
.item:last-child{
    margin-bottom: 0;
}
.item:nth-child(odd){
    padding-right: calc(50% + 30px);
    text-align: right;
}
.item:nth-child(even){
    padding-left: calc(50% + 30px);
}
.bolinha{
    height: 16px;
    width: 16px;
    background-image:radial-gradient(rgb(123, 123, 253),rgb(51, 6, 253));
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 8px);
    top: 70px;
}
.data{
    font-size: 1.1em;
    margin: 6px 0px 15px;
    color: rgb(8, 8, 253);
}
.content{
    background-color: var(--fundo);
    padding:20px;
    border-radius: 20px;
}
#timeline ul{
    list-style-type: square;
}
ul,ol{
    list-style-position: inside;
}


#positions{
    margin-top: 30px;
    margin-bottom: 30px;
}
#positions h2{
    text-align: center;
}
#positions ol{
    columns: 2;
    line-height: 2em;
    margin-top: 20px;
    margin-left: 20%;
}
@media(max-width: 290px){
    #positions ol{
        columns: 1;
        margin-left: 35%;
    }
}

footer{
    background-color: var(--escuro);
    color: white;
    text-align: center;
    padding: 5px;
}
footer a{
    text-decoration: none;
    color: white;
    font-style: italic;
}
footer a:hover{
    text-decoration: underline;
}



/*Responsividade*/
@media(max-width: 420px){
    nav{
        margin: auto;
    }
    nav a{
        font-size: 0.7em;
        padding: 5px;
    }
    header h1{
        font-size: 1.7em;
    }

#content h2{
font-size: 1em;
}
#content p{
    font-size: .8em;
    line-height: 1.2em;
    text-align: left;
}

    .itens::before{
        left: 7px;
        top:100px;
    }
    .item:nth-child(odd){
        padding-right: 0px;
        text-align: left;
    }
    .item:nth-child(odd),.item:nth-child(even){
        padding-left: 37px;
    }
    .bolinha{
        left: 0px;
    }
    .item li{
        font-size: 0.8em;
        line-height: 1.2em;
    }
}
